/* Author Name: arrowthemes http://themeforest.net/user/arrowthemes  Version: 1.0 */

@import url(../../../warp/css/layout.css);

/* Sections
----------------------------------------------------------------------------------------------------*/
	.module, #content, #footer {margin: 10px;}
	#call-us .module{margin: 0;}
	#footer{text-align: left;}
	#copyright{
		text-align: center;
		margin-bottom: 20px;
	    font-size: 12px;
	}
	.bg-light #copyright{
	    color: #808080;
	}

	.bg-dark #copyright, .bg-dark #footer{
	    color: #FFFFFF; 
	    text-shadow: 0 1px 0 #202020;
	}

	#copyright .module{margin-bottom: 2px;}
	#header{
		margin: 3px 5px 0; 
		height: 83px;}
	#content {margin: 20px;}

	#footer .module { margin: 0; }
	#headerbar { 
		margin: 0; 
		float: left; 
		text-shadow: none; 
		color: #FFF;}

	/*background*/
	body {
	    font-size: 13px;
	    text-shadow: 0 1px 0 #FFFFFF;
	}
	


/* Layouts
----------------------------------------------------------------------------------------------------*/
	
	/*body background textures*/
	.bg_texture_1{background: url(../../../images/bg/bg_texture_1.jpg) repeat fixed top left #F2F2F2;}
	.bg_texture_2{background: url(../../../images/bg/bg_texture_2.jpg) repeat fixed top left #F2F2F2;}
	.bg_texture_3{background: url(../../../images/bg/bg_texture_3.jpg) repeat fixed top left #F2F2F2;}
	.bg_texture_4{background: url(../../../images/bg/bg_texture_4.jpg) repeat fixed top left #F2F2F2;}
	.bg_texture_5{background: url(../../../images/bg/bg_texture_5.jpg) repeat fixed top left #F2F2F2;}
	.bg_texture_6{background: url(../../../images/bg/bg_texture_6.jpg) repeat fixed top left #F2F2F2;}
	.bg_texture_7{background: url(../../../images/bg/bg_texture_7.jpg) repeat fixed top left #F2F2F2;}
	.bg_texture_8{background: url(../../../images/bg/bg_texture_8.jpg) repeat fixed top left #F2F2F2;}
	.bg_texture_9{background: url(../../../images/bg/bg_texture_9.jpg) repeat fixed top left #F2F2F2;}
	.bg_texture_10{background: url(../../../images/bg/bg_texture_10.jpg) repeat fixed top left #F2F2F2;}
	.bg_texture_11{background: url(../../../images/bg/bg_texture_11.jpg) repeat fixed top left #F2F2F2;}
	.bg_texture_12{background: url(../../../images/bg/bg_texture_12.jpg) repeat fixed top left #F2F2F2;}


	/*light-gray background*/
	div.css-panes div,.showhide li, .module.badge-hot, .module.badge-top, .module.badge-free, .module.badge-new, .event-time, .block-number, .accordion {
	background: url(../../../images/body/bg-white-large.png) repeat-x 0 0  #f2f2f2;}
	.accordion h2,  table thead, table tfoot{
	background: url(../../../images/body/bg-white.png) 0 0 repeat-x scroll #dedede; }

	/* sidebars */
	#sidebar-a, #sidebar-b{margin-top: 0;}
	#sidebar-a{background: url(../../../images/body/sidebar-a.png) repeat-y scroll 100% 0 transparent;}
	#sidebar-b{background: url(../../../images/body/sidebar-b.png) repeat-y scroll 0 0 transparent;}

	/*#tops*/
	#top-a, #top-b{
		background: url(../../../images/body/hr-divide.png) repeat-x scroll 0 100% transparent;	}

	/*bottoms*/
	#bottom-a, 	#bottom-b{
		background: url(../../../images/body/hr-divide.png) repeat-x scroll 0 0 transparent;}

	#bottom-c{
		background: url(../images/footer.png) repeat scroll left bottom transparent;
	    bottom: 10px;
	    left: 0;
	    right: 0;
	    top: 0;
	}

	#bottom-c .module-title{
	    background: url(../../../images/body/f_inset_dotted.png) repeat-x scroll left bottom transparent;
	}
	
	/*newsletter*/
	#newsletter{
	    background: url(../../../images/body/inner-bottom.png) 0 0 repeat-x #222222;
	    border-bottom: 1px solid #000000;
	    text-shadow: none;
	    font-size: 17px; 
	    color: #FFF;
	}

	/*toolbars*/
	#toolbar{margin: 10px 0 0; padding-bottom: 10px;}
	#toolbar .float-left .module, #toolbar .float-left > time{margin: 5px 15px 0 0; font-size: 14px;}
	.bg-dark #toolbar .float-left .module, .bg-dark #toolbar .float-left > time{text-shadow: none; color: #FFF;}

	/*search*/
	#search{margin-left: 15px;}
	#searchbox{background-position:4% 46%;  -moz-border-radius:4px;  -ms-border-radius:4px;  -webkit-border-radius:4px;  -o-border-radius:4px;  border-radius:4px;}
	.bg-light #searchbox{border: 1px solid #CECECE; -moz-box-shadow: 0 1px 0 #FAFAFA; -webkit-box-shadow: 0 1px 0 #FAFAFA; -ms-box-shadow: 0 1px 0 #FAFAFA; -o-box-shadow: 0 1px 0 #FAFAFA; box-shadow: 0 1px 0 #FAFAFA; background-color: #F6F6F6 }
	.bg-light #searchbox:hover{background-color: #FEFEFE;}
	.bg-light #searchbox:focus{background-color: #FFFFFF;}

	.bg-dark #searchbox{color: #FFFFFF; border: 1px solid #000; 
	-moz-box-shadow: 0 0 5px #000000 inset, 1px 1px 1px #4B4B4B;
	-webkit-box-shadow: 0 0 5px #000000 inset, 1px 1px 1px #4B4B4B;
	-ms-box-shadow: 0 0 5px #000000 inset, 1px 1px 1px #4B4B4B;
	-o-box-shadow: 0 0 5px #000000 inset, 1px 1px 1px #4B4B4B;
	box-shadow: 0 0 5px #000000 inset, 1px 1px 1px #4B4B4B;
	background-color: #202020;}

	.bg-dark #searchbox ul li{color: #404040;}
	.bg-dark #searchbox:hover{background-color: #303030;}
	.bg-dark #searchbox:focus{background-color: #404040;}

	/*call-us*/
	#call-us .module{float: right;}
	#call-us h1{text-align: right; color: #FFF; text-shadow: none;}
	#call-us {padding: 25px;}

	/*sheet*/
	.sheet{
		-webkit-border-radius: 4px;
		   -moz-border-radius: 4px;
		    -ms-border-radius: 4px;
		     -o-border-radius: 4px;
		        border-radius: 4px;
	}
	.bg-light .sheet{background:url(../../../images/body/sheet-light.png) repeat scroll 0 0 transparent; margin: 0; -moz-box-shadow: 0 0 2px #C0C0C0; -webkit-box-shadow: 0 0 2px #C0C0C0; -ms-box-shadow: 0 0 2px #C0C0C0; -o-box-shadow: 0 0 2px #C0C0C0; box-shadow: 0 0 2px #C0C0C0; border: 1px solid #FFF;}

	.bg-dark .sheet{background:url(../../../images/body/sheet-dark.png) repeat scroll 0 0 transparent; margin: 0; -moz-box-shadow: 0 0 2px #000000; -webkit-box-shadow: 0 0 2px #000000; -ms-box-shadow: 0 0 2px #000000; -o-box-shadow: 0 0 2px #000000; box-shadow: 0 0 2px #000000; border: 1px solid #FFF;}

	.sheet-body{padding: 1px 0; margin: 0 -1px 3px}


	/*header*/
	#header{background: url(../../../images/body/nav.png) repeat-x scroll 0 0 transparent; -webkit-border-radius: 3px 3px 0 0; -moz-border-radius: 3px 3px 0 0; -ms-border-radius: 3px 3px 0 0; -o-border-radius: 3px 3px 0 0;  border-radius: 3px 3px 0 0;}


	/*logo*/
	.logo-img{background: url(../images/logo.png) no-repeat scroll 0 0 transparent; width: 150px !important; height: 80px; margin: 0; float: left; border: 1px solid transparent;}
	.tag-line{background: url(../images/separator.png) no-repeat scroll left center transparent; padding: 7px 10px; position: relative; float: left; margin-top: 26px; font-size: 1.2rem; font-size: 12px; color: #f0f0f0; text-shadow: none; min-height: 16px;}


	/*menu*/
	#menu {float: right;}

	
	/*slider-zone*/
	#slide-zone{
		background: url(../images/header.jpg) no-repeat scroll center 0; -moz-box-shadow: 0 0 4px #202020 inset; -webkit-box-shadow: 0 0 4px #202020 inset; -ms-box-shadow: 0 0 4px #202020 inset; -o-box-shadow: 0 0 4px #202020 inset; box-shadow: 0 0 4px #202020 inset; text-shadow: none; margin: 0 5px; position: relative;}
	#slide-zone .module{margin: 0;}
	
	/*showcase*/
	#showcase{background: url(../images/header.jpg) no-repeat scroll center 0; -moz-box-shadow: 0 0 4px #202020 inset; -webkit-box-shadow: 0 0 4px #202020 inset; -ms-box-shadow: 0 0 4px #202020 inset; -o-box-shadow: 0 0 4px #202020 inset; box-shadow: 0 0 4px #202020 inset;  margin: 0 5px; overflow: hidden;}
	.header-content{display:inline-block; text-shadow: 1px 1px 0 #202020; top: 0; overflow: visible; z-index: 1; color: #FFFFFF;
	margin: 40px 10px 12px 5px;
	padding: 15px;
	position: relative;	}

	.hidden-img {
	    position: absolute;
	    right: -110px;
	    margin: 9px 50px 0 0;
	    top: 0;
	}

	#showcase .hidden-img {margin: -45px 50px 0 0;}
	img.static {position: relative; margin: -185px -35px -55px;}
	.module-title{font-size: 24px; padding-bottom: 15px;}
	.header-content .module-title{font-size: 30px;}
	
	.frontend .module-title { padding-bottom: 0 }
	.frontend{
		padding-top: 45px;
		padding-left: 20px;
	}
	.frontend .module-title{
		display: block;
	    font-size: 56px;
	    line-height: 100%;
	    text-shadow: 0 0 2px #000000;
	}
	.frontend p.show-text{
		display: block;
	    line-height: 1.6em;
	    margin-bottom: 15px;
	    padding-top: 15px;
	}

	.show-title{line-height: 90%; font-size: 140px; visibility: hidden; margin: 0; position: absolute; text-shadow: none;}
	.show-text{padding-right: 220px;}

	#searchbox input{
		-webkit-box-shadow: none;
		   -moz-box-shadow: none;
		        box-shadow: none;
	}



	.footer-overlay-bottom {
	border-top: 1px solid rgba(255, 255, 255, 0.1);
	background: -moz-linear-gradient(left, rgba(0,0,0,0.15) 0%, rgba(255,255,255,0.1) 50%, rgba(0,0,0,0.15) 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0.15)), color-stop(50%,rgba(255,255,255,0.1)), color-stop(100%,rgba(0,0,0,0.15)));
	background: -webkit-linear-gradient(left, rgba(0,0,0,0.15) 0%,rgba(255,255,255,0.1) 50%,rgba(0,0,0,0.15) 100%);
	background: -o-linear-gradient(left, rgba(0,0,0,0.15) 0%,rgba(255,255,255,0.1) 50%,rgba(0,0,0,0.15) 100%);
	background: -ms-linear-gradient(left, rgba(0,0,0,0.15) 0%,rgba(255,255,255,0.1) 50%,rgba(0,0,0,0.15) 100%);
	background: linear-gradient(left, rgba(0,0,0,0.15) 0%,rgba(255,255,255,0.1) 50%,rgba(0,0,0,0.15) 100%);
	 height: 50px;    left: 0;     right: 0; }

	.footer-overlay-bottom p{color: #000000; margin: -9px 0; text-align: center; text-shadow: 1px 1px 0 #404040}

	.bg-light #toTop{background: url(../../../images/body/back-to-top-light.png) no-repeat scroll left top transparent;}
	.bg-dark #toTop{background: url(../../../images/body/back-to-top-dark.png) no-repeat scroll left top transparent;}
	#toTop { border: medium none;    bottom: 0;    display: none;    height: 75px;    overflow: hidden;    position: fixed;    right: 28px;   text-decoration: none;    text-indent: -999px;    width: 50px; z-index: 1;}
	#toTopHover {display: block;    float: left;    height: 75px;    opacity: 0;    overflow: hidden;    width: 50px;}
	#toTop:active, #toTop:focus { outline: medium none;}


	/*dropcaps / block numbers/dates */
	.event{display: block; margin: 5px 0 20px}
	.event-time .date, .block-number .digit{font-size: 2rem; font-size: 20px; padding: 9px 10px 25px; line-height: 1;}
	.event-time .month, .block-number .bottom{display: block; text-align: center;text-transform: uppercase; -moz-border-radius:0 0 3px 3px;-webkit-border-radius:0 0 3px 3px; -ms-border-radius:0 0 3px 3px; -o-border-radius:0 0 3px 3px; border-radius:0 0 3px 3px; text-shadow: none; border-width: 1px 0 0; border-style: solid; font-size: 11px; color: #FFFFFF;}

	.block-number .bottom{height: 6px}
	.event-time, .block-number{display:block; float:left; height:auto; margin: 5px 15px 5px 0 !important; padding-top:7px; -moz-border-radius: 4px; -webkit-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; color:#808080; border: 1px solid #FFFFFF;
	border-color: #c0c0c0 #888888 #888888 #c0c0c0;
	text-shadow: 0 1px rgba(255, 255, 255, 1); color: #444444 !important;
	-moz-box-shadow: 0 -1px 1px #ffffff inset;
	-webkit-box-shadow: 0 -1px 1px #ffffff inset;
	-ms-box-shadow: 0 -1px 1px #ffffff inset;
	-o-box-shadow: 0 -1px 1px #ffffff inset;
	box-shadow: 0 -1px 1px #ffffff inset;}

	.event {
	    display: block;
	    margin: 5px 0 20px;
	}


	/** form-skinning **/
	fieldset.w50{width: 50%; float: left}
	fieldset.w50 input{width: 80%}
	fieldset.w50 .date-fld{width: 62%; text-align: left !important;}
	fieldset.w50 label{width: 90%}

	form.jqtransformdone label{margin-top:4px;	margin-right: 8px;	float:left;}
	form.jqtransformdone .column label{display: block;  height: 19px; margin-right: 8px;  margin-top: 4px;}
	form.jqtransformdone div.rowElem{	clear:both;	padding:4px 0 0;}
	div.rowElem.cluster div{float: left; margin-right: 10px}
	form.jqtransformdone div.rowElem li{padding: 0; margin: 0}
	.rowElem.align-left .jqTransformRadio{float: left; min-height: 0}

	.jqTransformRadioWrapper {float: left;display:block;margin:0 4px;	margin-top:5px;}
	.jqTransformRadio {vertical-align: middle;	height: 19px;	width: 18px;	display:block;}
	span.jqTransformCheckboxWrapper{margin-right: 10px;	display:block;float:left;	margin-top:5px;}
	a.jqTransformCheckbox {vertical-align: middle;	height: 19px; width: 18px;	display:block; }
	.jqTransformSelectWrapper {	width: 45px;	position:relative; height: 31px; background: url(../../../images/typo/select_left.png) no-repeat top left; _background: url(../../../images/typo/select_left.gif) no-repeat top left; float:left;}

	.jqTransformSelectWrapper div span {font-size: 12px; float: none; position: absolute; white-space: nowrap; height: 31px; line-height: 15px; padding: 8px 0 0 7px; overflow: hidden;  }
	.jqTransformSelectWrapper ul a:hover{background-color:#EDEDED;	color: #333333;	}
	.jqTransformSelectWrapper ul a.selected, .jqTransformSelectWrapper ul a.selected:hover{border-color:#721C1D;  color:#FFFFFF;  text-shadow:none;}
	.jqTransformSelectWrapper ul a.selected {border-width: 1px; border-style: solid;	color: #FFFFFF; text-shadow: none !important}
	.jqTransformRadio {background: transparent url(../images/inputs.png) no-repeat 0 top !important;}
	a.jqTransformCheckbox {background: transparent url(../images/inputs.png) no-repeat -15px top !important;}
	.jqTransformRadio.jqTransformChecked { background-position: 0 -19px !important;}
	.jqTransformCheckbox.jqTransformChecked { background-position: -15px -19px !important;}

	.jqTransformSelectWrapper  a.jqTransformSelectOpen {display: block; position: absolute; width: 31px; height: 31px; background: url(../../../images/typo/select_right.png) no-repeat center center; _background: url(../../../images/typo/select_right.gif) no-repeat center center;
		right: -3px}
	.jqTransformSelectWrapper ul {position: absolute; 	width: 43px; 	top: 30px; 	left: 0; list-style: none; 	background-color: #FFF; border: solid 1px #CCC; display: none; margin: 0; padding: 0; height: 150px; overflow: auto; overflow-y: auto;	z-index: 11; zoom: 1;}
	.jqTransformSelectWrapper ul a {display: block; 	padding: 5px; 	text-decoration: none; color:#333; 	background-color: #FFF; 	font-size: 12px; }
	.jqTransformHidden {display: none;}

	.footer-body .module-title{text-shadow: 0 -3px 1px #000000;}
	.footer-body .module-title .color{color: #FFF;}


	/*gk tabs -- Style 2*/
	ul.gkTabs{border-width: 0 0 5px 0 !important; border-style: solid; height: 51px; overflow: hidden;}
	ul.gkTabs li{line-height: 50px !important; font-weight: normal; font-size: 17px; 
	    background: url(../../../images/body/bg-white.png) repeat-x scroll 0 0 #DEDEDE !important;
	    -webkit-border-radius: 2px 2px 0 0;
	       -moz-border-radius: 2px 2px 0 0;
	        -ms-border-radius: 2px 2px 0 0;
	         -o-border-radius: 2px 2px 0 0;
	            border-radius: 2px 2px 0 0;
	    border-style: solid solid none !important;
	    border-width: 1px 1px 0 !important;
	    border-color: #BABABA !important;
	    box-shadow: 0 1px 2px #FFFFFF inset !important;
	    color: #202020 !important; 
	    font-size: 17px;
	    margin: 0 3px !important;
	}

	ul.gkTabs li:hover{background: #EEEEEE !important; color: #202020 !important;}
	ul.gkTabs li.active, ul.gkTabs li.active:hover{background: #451211 url(../../../images/body/bg-gradient.png) repeat-x 0 0 !important; color: #FFF !important; box-shadow: none !important;}
	ul.gkTabs li.active{text-shadow: none !important; }
	.gkTabItem{background: url(../../../images/body/bg-white-large.png) repeat-x scroll 0 0 #F2F2F2; padding: 20px;
		-webkit-box-shadow: 0 1px 2px #FFFFFF inset, 0 0 1px #BABABA;
		   -moz-box-shadow: 0 1px 2px #FFFFFF inset, 0 0 1px #BABABA;
		        box-shadow: 0 1px 2px #FFFFFF inset, 0 0 1px #BABABA;
		        border-color: #FFFFFF;
			    border-radius: 0 0 5px 5px;
			    border-style: solid;
			    border-width: 1px;
			    width: auto; height: auto;
	}


	/*multimedia*/
	.mejs-controls .mejs-time-rail .mejs-time-loaded{
		background: url(../../../images/widget/player-track.png) repeat-x scroll 0 0 #404040;}


	/*google maps*/
	#g-map{
		margin: 0 5px;
		position: relative;
		overflow: hidden;
	}
	#g-map .module{margin: 0;}
	.map-shadow { 
		background: url(../../../images/gmap/t_shadow_small.png) repeat-x scroll 0 0 transparent; 
		display: inline-block; 
		height: 12px; 
		position: absolute; 
		top: 0; 
		width: 100%;
		z-index: 5;
	}


	/** begin vertical-menu 
	-------------------------------------**/
	.vmenu, .vmenu ul{list-style: none;  display: block;}
	.vmenu, .vmenu li{display: block;  margin: 0;   padding: 0;   width: auto;   line-height: 0;}
	.sidebar-l .vmenu{margin: 0 20px 0 0}
	.sidebar-r .vmenu{margin: 0 0 0 20px}
	.vmenu ul{ display: none;   margin: 0;   padding: 0;   position:relative;}
	.vmenu ul.active{ display: block;}

	/* Main menu item */
	.vmenu a {display: block;   z-index:0;   text-decoration: none;   font-style: normal;   font-weight: normal;  margin-left:0;   margin-right:0;   position:relative; text-shadow: none;}
	.vmenu li{position:relative;}
	.vmenu>li>a {color: #FFFFFF;   padding: 0 21px 0 21px;   height: 45px;   line-height: 45px !important;   white-space: nowrap;   border-style: none solid;   border-width: 0 1px;   margin-top: 1px;   margin-bottom: 1px;   border-color: #424242;   text-shadow: none;}
	.vmenu>li>a.active {color: #FFFFFF;   border-color: #7E2020; text-shadow: none;}
	.vmenu a:hover, .vmenu a.active:hover {color: #FFFFFF !important;   text-shadow: none}
	.vmenu>li>a:before, .vmenu>li>a:after, .vmenu>li>a>span.vmenu-l, .vmenu>li>a>span.vmenu-r {position: absolute;   display: block;   content: ' ';   z-index:-1;   background-image: url(../images/vmenuitem.png);   top:0;   height:45px;   
	-moz-box-shadow: 0 1px 0 #101010 inset;
	-webkit-box-shadow: 0 1px 0 #101010 inset;
	-ms-box-shadow: 0 1px 0 #101010 inset;
	-o-box-shadow: 0 1px 0 #101010 inset;
	box-shadow: 0 1px 0 #101010 inset;}
	.vmenu>li>a:before{left: 0;   right: 16px;   background-position: top left;}
	.vmenu>li>a:after{width: 16px;   right: 0;   background-position: top right;}
	.vmenu>li>a.active:before {background-position: bottom left;}
	.vmenu>li>a.active:after {background-position: bottom right;}
	.vmenu>li>a:hover:before  {background-position: center left;}
	.vmenu>li>a:hover:after {background-position: center right;}
	.vmenu>li>a.active:before, .vmenu>li>a.active:after, .vmenu>li>a:hover:before, .vmenu>li>a:hover:after {-moz-box-shadow: none;-webkit-box-shadow: none;-ms-box-shadow: none;-o-box-shadow: none;box-shadow: none;}
	.vmenu>li{margin-top:0;}
	.vmenu>li>ul{margin-top:0;  padding-bottom: 0;}
	.vmenu>li:first-child{margin-top:0;}
	.vmenu>li>a>span.border-top, .vmenu>li>a>span.border-bottom{display: block;   position: absolute;   content: ' ';   left: -1px;   right: -1px;   height: 1px;   background-color: transparent;   z-index: -1;}
	.vmenu>li>a>span.border-top {top: -1px;   background-color: #424242;}
	.vmenu>li>a>span.border-bottom {   bottom: -1px;   background-color: #202020;}
	.vmenu>li>a.active:hover {   border-color: #424242;}
	.vmenu>li>a.active:hover>span.border-top, .vmenu>li>a.active:hover>span.border-bottom {background-color: transparent;}
	.vmenu>li>a.active:hover>span.border-top, .vmenu>li>a.active:hover>span.border-bottom {   background-color: #424242;   z-index: 1;}
	.vmenu>li>a.active>span.border-top, .vmenu>li>a.active>span.border-bottom {background-color: #202020;   z-index: 1;}
	.vmenu>li>a:hover {border-color: #AF2C2C !important;   z-index: 2;}
	.vmenu>li>a:hover>span.border-top, .vmenu>li>a:hover>span.border-bottom {background-color: #AF2C2C !important;   z-index: 2;}

	/* sub-menu item */
	.vmenu ul li{margin: 0;   padding: 0;}
	.vmenu li li, .vmenu li li a {   position:relative;}
	.vmenu ul a{display: block;   position:relative;   white-space: nowrap;   height: 32px;   overflow: visible;   background: url(../images/vsubitem.png) repeat-x scroll top left transparent;  padding:0;   padding-left:38px;   padding-right:0;   line-height: 32px;   color: #0F1D24;   font-size: 12px;   margin-left: 0;   margin-right: 0;}
	.vmenu ul a.active{background-position: bottom left;}
	.vmenu ul a:hover{background-position: center left;   line-height: 32px;   color: #0F1D24;   font-size: 12px;   margin-left: 0;   margin-right: 0;}
	.vmenu ul li li a:hover, .vmenu ul li li a:hover.active{background-position: left center;}
	.vmenu ul a:after, .ie7 .vmenu ul a>span.vmenu-icon{display: block;   position:absolute;   top:13px;   content:' ';   width: 3px;   height: 5px;   overflow: visible;   background: url(../images/vsubitemicon.png) no-repeat scroll top left; left:  25px;}
	.vmenu ul a:hover:after{background-position: center left}
	.vmenu ul a.active:hover:after{background-position: center left;}
	.vmenu ul a.active:after{background-position: bottom left;}
	.vmenu ul a:link, .vmenu ul a:active{line-height: 32px;   color: #FFFFFF; margin-left: 0;   margin-right: 0;   text-shadow: none;}
	.vmenu ul a:visited{color:#FFFFFF}
	.vmenu>li>ul>li:first-child{padding-top: 0;   margin-top:0;} 
	.vmenu li li{position:relative;  margin-top:0;}
	.vmenu ul ul a:after{left:50px;}
	.vmenu ul ul ul a:after{left:75px;}
	.vmenu ul ul ul ul a:after{left:100px;}
	.vmenu ul ul ul ul ul a:after{left:125px;}
	.vmenu ul ul a{padding-left:63px;}
	.vmenu ul ul ul a{padding-left:88px;}
	.vmenu ul ul ul ul a{padding-left:113px;}
	.vmenu ul ul ul ul ul a{padding-left:138px;}
	.vmenu ul li a.active {color: #FFFFFF;}
	.vmenu ul li a:hover, .vmenu ul li a:hover.active {color: #FFFFFF;}
	.vmenu li li a {border: 1px solid transparent;   border-style: none solid;   border-width: 0 1px;   margin-top: 1px;   margin-bottom: 1px;   border-color: #2B2B2B}
	.vmenu li li a.active:hover {border-color: #2B2B2B;}
	.vmenu li li a span.border-top, .vmenu li li a span.border-bottom{   display: block;   position: absolute;   content: ' ';   left: -1px;   right: -1px;   height: 1px;background-color: transparent;  z-index: -1;}
	.vmenu li li a span.border-top {top: -1px;  background-color: #2B2B2B;}
	.vmenu li li a span.border-bottom {bottom: -1px; background-color: #2B2B2B;}
	.vmenu li li a.active:hover span.border-top, .vmenu li li a.active:hover span.border-bottom {background-color: transparent;}
	.vmenu li li a.active:hover span.border-top, .vmenu li li a.active:hover span.border-bottom {background-color: #2B2B2B;}
	.vmenu li li a.active {border-color: #2B2B2B; z-index: 1; text-shadow: none;}
	.vmenu li li a.active span.border-top, .vmenu li li a.active span.border-bottom {background-color: #2B2B2B;  z-index: 1;}
	.vmenu li li a:hover {border-color: #AF2C2C !important;  z-index: 2; text-shadow: none}
	.vmenu li li a:hover span.border-top, .vmenu li li a:hover span.border-bottom {background-color: #AF2C2C !important;   z-index: 2;}